body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #105CA1;
   }

   .title-styles {
      color: #105CA1;
   }

   .header-icon {
      color: #3C342C;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #105CA1;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #494949;
      h1 {
         color: white;
      }
   }

   #about, #contact {
      background-color: #182A48;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #2C426A;
      }
      .card {
         background: #2C426A;
         color: white;
      }
   }

   #portfolio {
      background: #182A48;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #2C426A;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #182A48;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #919191 !important;
         color: white;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #182A48;
      color: white;
   }

   .close-icon {
      color: white;
   }

   .title-container {
      color: white;
   }

   .section-title span {
      color: white;
   }
}
